* {
  // background-color: $background-color;
}

.app-header {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.label-color {
  color: $text-color !important;
}

.btn-custom {
  background-color: $primary-color;
  border-radius: 4px;
  font-size: 22px;
  color: $background-color-lo;
  padding: 16px 40px;
  border: none !important;
}
